.container {
  width: 100%;
  position: relative;
}

.inputField {
  position: relative;
}

.input {
  background-color: transparent;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 5px;
  font-size: 18px;
  margin-top: 30px;
  padding: 20px 74px;
  transition: border-color 0.34s linear, color 0.34s linear,
    background 0.34s linear;
  display: block;
  width: 100%;
  font-family: 'Sebneue', sans-serif;
}

.input::placeholder,
.input::-moz-placeholder,
.input::-webkit-input-placeholder {
  font-family: 'Sebneue', sans-serif;
}

.input:focus {
  outline: none;
  color: var(--text-dropdown-color);
  background-color: var(--bg-dark-input-color);
}

.input::placeholder {
  color: var(--link-color);
}

.input:focus::placeholder {
  color: var(--text-dropdown-color);
}

.inputFill {
  composes: input;
  background-color: var(--bg-dark-input-color);
}

.inputError {
  composes: input;
}

.inputError,
.inputError:focus {
  border-color: palevioletred;
}

.error {
  color: palevioletred;
  display: block;
  font-size: 16px;
  margin-top: 8px;
}

.icon {
  position: absolute;
  left: 38px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
