.button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  font-size: 14px;
  padding: 25px 55px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: background 0.34s;
}

.button:hover {
  background: var(--bg-light-color-button);
}

.button:disabled {
  cursor: default;
}

.default {
  composes: button;
  border-radius: none;
  border-bottom: 2px solid var(--bg-color-button);
  background-color: var(--bg-color-button);
  color: var(--white-color);
}

.inputStyle {
  composes: button;
  font-size: 18px;
  color: var(--text-button-light-color);
  background: var(--bg-dark-input-color);
  border-radius: 5px;
  margin-top: 30px;
  padding: 18px 34px;
}

.inputStyle:not(:first-child) {
  margin-left: 8px;
}

.activeChecked {
  composes: inputStyle;
  color: var(--white-color);
  background: var(--light-text-color);
}

.light {
  composes: button;
  font-size: 18px;
  color: var(--dark-text-color);
  background-color: var(--light-text-color);
  border-radius: 5px;
  padding: 16px 43px;
}

.description_tab {
  composes: default;
  float: left;
  text-align: center;
}

.description_tab:not(:first-child) {
  margin-left: 15px;
}

.fullWidth {
  width: 100%;
}

.icon {
  font-size: 24px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.content {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.contentCol {
  composes: content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 480px) {
  .description_tab {
    width: 100%;
  }

  .description_tab:not(:first-child) {
    margin-left: 0;
  }
}
