.link_content {
  margin-top: 143px;
}

.link {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.activeLink {
  background: var(--bg-light-color-button);
  border-bottom: 2px solid var(--light-text-color);
}

.title {
  font-weight: 700;
}

.subTitle {
  min-width: 100px;
  font-weight: 300;
}

.contentForm {
  margin-top: 70px;
}
