.link_content {
  margin-top: 143px;
}

.contentForm {
  margin-top: 70px;
}

@media (max-width: 480px) {
  .description_tabActive:first-child ~ .slider {
    bottom: 88.8px;
  }

  .description_tabActive:nth-child(2) ~ .slider {
    bottom: 0;
    left: 0;
  }

  .slider {
    width: 100%;
    transition: bottom 0.34s;
  }
}
