@font-face {
  font-family: 'Sebneue';
  src: url(../font/SebneueAir-m9GG.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sebneue';
  src: url(../font/SebneueBlack-dDGX.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sebneue';
  src: url(../font/SebneueBold-PwMm.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sebneue';
  src: url(../font/SebneueExtrabold-LMBW.otf);
  font-weight: 900;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--dark-text-color);
}

html {
  scroll-behavior: smooth;
  font-family: 'Sebneue', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-text-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.overflow {
  overflow-y: hidden;
}
