.content {
  position: relative;
  width: 100%;
  user-select: none;
}

.selectContent {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  margin-top: 30px;
  font-size: 18px;
  color: var(--text-button-light-color);
  background-color: var(--bg-dark-input-color);
  border-radius: 5px;
  transition: border 0.34s;
}

.selectContentActive {
  composes: selectContent;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.overflow {
  overflow: auto;
  margin: 0 8px 0 0;
}

.overflow::-webkit-scrollbar-track {
  background-color: var(--dark-text-color);
  border-radius: 5px;
}

.overflow::-webkit-scrollbar-thumb {
  background-color: var(--bg-over-flow-color);
  border-radius: 5px;
}

.optionContent {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: 18px;
  height: 0;
  color: var(--main-color);
  background-color: var(--text-dropdown-color);
  cursor: pointer;
  transition: height 0.34s;
}

.optionContentActive {
  composes: optionContent;
  height: 110px;
}

.option {
  border-bottom: 2px solid var(--border-bottom-gray-color);
  padding: 10px 20px;
  opacity: 0;
  transition: opacity 0.2 linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option:hover {
  color: var(--white-color);
  background-color: var(--bg-overlay);
  transition: color 0.34s, background 0.34s;
}

.optionActive {
  composes: option;
  opacity: 1;
}

.contentCheckIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.error {
  color: palevioletred;
  transition: color 0.34s;
}
