.home_content {
  min-height: 100vh;
  position: relative;
  display: flex;
  z-index: 90;
}

/*TEST TEXT*/
.wallper {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin-top: 200px;
}

.heroTitle {
  font-weight: 800;
  font-size: 83px;
  color: var(--white-color);
}

.gameText {
  font-weight: 800;
  font-size: 43px;
}

.leagueTextColor {
  color: var(--link-color);
}

.legendTextColor {
  color: var(--light-text-color);
}

@media (max-width: 834px) {
  .heroTitle {
    font-size: 63px;
  }

  .gameText {
    font-size: 34px;
  }
}
