.textInfo {
  font-size: 18px;
  color: var(--link-color);
}

.textActive {
  color: var(--active-link-color);
}

.title {
  color: var(--white-color);
  font-size: 21px;
  margin-top: 30px;
}

.contentBronze {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.titleActiveText {
  color: var(--light-text-color);
}

.bronze_1_1Svg {
  width: 160px;
  height: 90px;
  margin-top: 25px;
}

.titleServer {
  color: var(--white-color);
  font-size: 21px;
  margin-top: 90px;
}

.titleType {
  color: var(--white-color);
  font-size: 21px;
  margin-top: 175px;
}

.formContent {
  display: flex;
  justify-content: space-around;
}

.inputContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-top: 60px;
}

@media (max-width: 1340px) {
  .formContent {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 834px) {
  .formContent {
    flex-direction: row;
    align-items: flex-start;
  }

  .inputContent:not(:first-child) {
    margin-left: 15px;
  }
}

@media (max-width: 570px) {
  .formContent {
    flex-direction: column;
    align-items: center;
  }

  .inputContent:not(:first-child) {
    margin-left: 0;
  }
}
