.contentForm {
  display: grid;
  grid-template-columns: 1fr 304px;
}

.containerFormInputs {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dropdown-color);
  color: var(--white-color);
  padding: 13px 13px 100px 13px;
}

.numberOne {
  position: absolute;
  top: 100px;
  left: 40px;
}

.numberTwo {
  position: absolute;
  top: 100px;
  right: 40px;
}

.numberThird {
  position: absolute;
  top: 55%;
  left: 40px;
}

.numberFoth {
  position: absolute;
  top: 55%;
  right: 40px;
}

.numberFivth {
  position: absolute;
  bottom: 15%;
  left: 40px;
}

.numberSix {
  position: absolute;
  bottom: 15%;
  right: 40px;
}

.containerFormSubmit {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-form-color);
  color: var(--dark-text-color);
  padding: 43px 34px;
}

.stickyHeaderFormContent {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 143px;
}

.contentButtonSubmit {
  margin: 0 8px;
}

.totalPrice {
  font-size: 24px;
}

.priceText {
  color: var(--light-text-color);
}

.price {
  font-size: 48px;
  margin: 8px 0;
}

.boostText {
  color: var(--avatar-bg-color);
  font-size: 16px;
  margin-bottom: 34px;
}

.boostSubTitle {
  color: var(--light-text-color);
  margin-top: 38px;
}

.contentDiscount {
  margin: 0 8px;
}

.labelDiscount {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: var(--text-input-color);
  margin-top: 8px;
}

.textInfo {
  color: var(--text-color-info);
  font-size: 14px;
  margin-top: 38px;
}

@media (min-width: 2000px) {
  .contentForm {
    grid-template-columns: 1fr 0.5fr;
  }
}

@media (max-width: 834px) {
  .contentForm {
    display: block;
  }

  .stickyHeaderFormContent {
    align-items: center;
  }
}
